* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variant-numeric: tabular-nums;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  color: white;
}

h1 {
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
}

.calendar {
  position: absolute;
  top: 40px;
}

.login-form {
  position: relative;
  width: 100%;
  max-width: 480px;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form input {
  font-size: 1rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 480px;
  border: none;
  border-radius: 16px;
  background-color: var(--black-100);
  outline: none;
  color: white;
}

.login-form button {
  position: absolute;
  right: 56px;
  height: 80%;
  padding: 0 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--primary-100);
  color: var(--black-100);
}

.clicked {
  color: lightcoral;
}

.hidden {
  display: none;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  padding: 0 3rem;
  text-align: center;
  line-height: 1.4;
  color: var(--primary-100);
}

.quote span:last-child {
  margin-top: 0.5rem;
  opacity: 0.6;
}

img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -2;
  object-fit: cover;
}

.bg-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
}
